@charset "utf-8";
@import "compass";
@import "variables";

// ********************************************************
// Use a unique namespace classname for this LP (.cp-namespace as below).
// All styles for the LP must be into the namespace.
// You can change "namespace" for each contents unique name
// *********************************************************
.cp-namespace {
	.content {
		height: 100px;
		margin: auto;
		width: $min-width;
	}
}